.root {
    -fx-font-family: "Segoe UI";
}

.button {
    -fx-background-color: #2c7be5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #1a5dcc;
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view {
    -fx-border-radius: 5;
}
